name: Lint Only

on:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install flake8
      run: pip install flake8

    - name: Run flake8
      run: flake8 src tests
